%li{style: "border-bottom:1px solid rgba(147, 181, 223, 0.1)"}
  = link_to "<i class='fa fa-long-arrow-left fa-fw dd-menu__icon'></i>Back".html_safe, nil, class: :"event-button", id: "back"

- if !@trial.vpd.trial_dashboard.blank? && current_user.trial_level_user?(@trial)
  %li{class: "#{(params[:controller]=='dashboard/trial/trials' && params[:action]=='dashboard') ? 'active' : ''}"}
    = link_to "<i class='fa fa-asterisk fa-fw dd-menu__icon'></i>Dashboard".html_safe, "#dashboard", data:{:"no-turbolink" => true, url: dashboard_dashboard_trial_trial_path(@trial) + ajax_url_suffix}, class: :"event-button" 

%li{class: "#{(params[:controller]=='dashboard/trial/trials' && params[:action]=='edit') ? 'active' : ''}"}
  = link_to "<i class='fa fa-asterisk fa-fw dd-menu__icon'></i>Trial Details".html_safe, "#details", data:{:"no-turbolink" => true, url: edit_dashboard_trial_trial_path(@trial) + ajax_url_suffix}, class: :"event-button" 

- if current_user.trial_level_user?(@trial)
  %li{class: "#{params[:controller]=='dashboard/trial/events' ? 'active' : ''}"}
    = link_to "<i class='fa fa-pencil fa-fw dd-menu__icon'></i>Event Types".html_safe, "#events", data:{:"no-turbolink" => true, url: dashboard_trial_events_path(@trial) + ajax_url_suffix}, class: :"event-button"

  %li{class: "#{params[:controller]=='dashboard/trial/schedules' ? 'active' : ''}"}
    = link_to "<i class='fa fa-clipboard fa-fw dd-menu__icon'></i>Budget Templates".html_safe, "#template_schedules", data:{:"no-turbolink" => true, url: dashboard_trial_schedules_path(@trial) + ajax_url_suffix}, class: :"event-button"

  %li{class: "#{(params[:controller]=='dashboard/trial/trials' && params[:action]=='sites') ? 'active' : ''}"}
    = link_to "<i class='fa fa-hospital-o fa-fw dd-menu__icon'></i>Sites".html_safe, "#sites", data:{:"no-turbolink" => true, url: sites_dashboard_trial_trial_path(@trial) + ajax_url_suffix}, class: :"event-button" 

  %li{class: "#{params[:controller]=='dashboard/trial/site_events' ? 'active' : ''}"}
    = link_to "<i class='fa fa-check-circle-o fa-fw dd-menu__icon'></i>Activity Log".html_safe, "#event_logs", data:{:"no-turbolink" => true, url: dashboard_trial_site_events_path(@trial) + ajax_url_suffix}, class: :"event-button" 

  %li{class: "#{params[:controller]=='dashboard/trial/forecastings' ? 'active' : ''}"}
    = link_to "<i class='fa fa-line-chart fa-fw dd-menu__icon'></i>Forecasting".html_safe, "#forecastings", data:{:"no-turbolink" => true, url: dashboard_trial_forecastings_path(@trial) + ajax_url_suffix}, class: :"event-button" 

  %li{class: "#{params[:controller]=='dashboard/trial/users' ? 'active' : ''}"}
    = link_to "<i class='fa fa-users fa-fw dd-menu__icon'></i>Directory".html_safe, "#trial_users", data:{:"no-turbolink" => true, url: dashboard_trial_users_path(@trial) + ajax_url_suffix}, class: :"event-button"

  -# %li{class: "#{params[:controller]=='dashboard/trial/accounts' ? 'active' : ''}"}
  -#   = link_to "<i class='fa fa-usd fa-fw dd-menu__icon'></i>Account".html_safe, "#accounts", data:{:"no-turbolink" => true, url: dashboard_trial_balance_path(@trial) + ajax_url_suffix}, class: :"event-button"

  -# %li
  -#   = link_to "<i class='fa fa-cogs fa-fw dd-menu__icon'></i>API Support".html_safe, "#api_support", data:{:"no-turbolink" => true, url: dashboard_trial_api_support_path(@trial) + ajax_url_suffix}, class: :"event-button"  

- else 
  - if @user_sites.count > 1
    %li{class: "#{(params[:action]=='sites' || params[:action]=='upload_config') ? 'active' : ''}"}
      = link_to "<i class='fa fa-hospital-o fa-fw dd-menu__icon'></i>Sites".html_safe, "#sites", data:{:"no-turbolink" => true, url: sites_dashboard_trial_trial_path(@trial) + ajax_url_suffix}, class: :"event-button"

  - else
    - site = @user_sites.first
    = hidden_field_tag :trial_id, @trial.trial_id
    = hidden_field_tag :site_id, site.site_id
    - if site.present?
      - unless @trial.vpd.site_dashboard.blank?
        %li= link_to "<i class='fa fa-asterisk fa-fw dd-menu__icon'></i>Dashboard".html_safe, "#dashboard", data:{:"no-turbolink" => true, url: dashboard_dashboard_site_site_path(@site) + ajax_url_suffix}, class: :"event-button" 

      %li= link_to "<i class='fa fa-list-alt fa-fw dd-menu__icon'></i>Dashboard".html_safe, "#statement", data:{:"no-turbolink" => true, url: dashboard_site_statement_path(site) + ajax_url_suffix}, class: :"event-button"

      %li= link_to "<i class='fa fa-asterisk fa-fw dd-menu__icon'></i>Site Details".html_safe, "#details", data:{:"no-turbolink" => true, url: edit_dashboard_site_site_path(site) + ajax_url_suffix}, class: :"event-button"

      %li= link_to "<i class='fa fa-calculator fa-fw dd-menu__icon'></i>Budget".html_safe, "#schedules", data:{:"no-turbolink" => true, url: dashboard_site_schedule_path(site) + ajax_url_suffix}, class: :"event-button"

      -# %li= link_to "<i class='fa fa-university fa-fw dd-menu__icon'></i>Banking Details".html_safe, "#payment_information", data:{:"no-turbolink" => true, url: edit_payment_info_dashboard_site_payment_infos_path(site) + ajax_url_suffix}, class: :"event-button"

      %li= link_to "<i class='fa fa-check-circle-o fa-fw dd-menu__icon'></i>Activity Log".html_safe, "#event_log", data:{:"no-turbolink" => true, url: dashboard_site_events_path(site) + ajax_url_suffix}, class: :"event-button"

      %li= link_to "<i class='fa fa-share-square-o fa-fw dd-menu__icon'></i>Passthroughs".html_safe, "#passthroughs", data:{:"no-turbolink" => true, url: dashboard_site_passthroughs_path(site) + ajax_url_suffix}, class: :"event-button"

      %li= link_to "<i class='fa fa-money fa-fw dd-menu__icon'></i>Invoices".html_safe, "#invoices", data:{:"no-turbolink" => true, url: dashboard_site_invoices_path(site) + ajax_url_suffix}, class: :"event-button"

      %li= link_to "<i class='fa fa-users fa-fw dd-menu__icon'></i>Directory".html_safe, "#site_users", data:{:"no-turbolink" => true, url: dashboard_site_users_path(site) + ajax_url_suffix}, class: :"event-button"