.modal-dialog
  .modal-content
    - event_ids = @event.subsequent_events.map(&:id)
    - event_ids << @event.id
    - event_ids.flatten.uniq
    - has_dependency = @event.dependency.present?

    = form_for(@event, url: dashboard_vpd_event_path, remote: true, html:{class: :"form-horizontal parsley-form edit-form"}) do |f|
      .modal-header
        %button.close{type: :"button", aria:{hidden: true}, data:{dismiss: :modal}} ×
        %h4.modal-title#data_title= f.object.type==0 ? "Edit VPD Single Event" : "Edit VPD Patient Event"

      .modal-body
        = hidden_field_tag :vpd_event_type, @event.type, name: "vpd_event[type]"

        .form-group
          = f.label :event_id, "Event ID :", class: :"col-sm-4 control-label"
          .col-sm-6.sub-sponsor-box
            = f.text_field :event_id, placeholder: "e.g. CONTRACT", class: :"form-control input-sm", required: true
            %span.help-block-title
              %label.text_blue1 Event ID cannot be changed later

        .form-group
          = f.label :description, "Description :", class: :"col-sm-4 control-label"
          .col-sm-6
            = f.text_area :description, placeholder: "e.g. Event Description", class: :"form-control input-sm"

        .form-group
          = f.label :dependency, "Dependency :", class: :"col-sm-4 control-label"
          .col-sm-6
            = f.select :dependency, options_from_collection_for_select([@vpd.start_event(f.object.type)], :id, :event_id, selected: f.object.dependency_id), {include_blank: true}, {class: :"form-control input-sm"}

        .form-group#days{style: "display:#{has_dependency ? '' : 'none'}"}
          = f.label :days, "+ Days :", class: :"col-sm-4 control-label"
          .col-sm-6
            = f.text_field :days, placeholder: "e.g. 10", class: :"form-control input-sm", "data-parsley-type"=>"number", required: "#{has_dependency ? 'true' : 'false'}"
         
      .modal-footer
        = button_tag(type: :submit, class: :"btn btn-primary") do
          Save
          %i.fa.fa-angle-double-right
        %button.btn.btn-default{type: :button, data:{dismiss: :modal}} Cancel