%section
  .container-fluid
    .row
      .col-md-12
        #overlay

        .row
          - if params[:type].present?
            .alert.alert-success{style: "background-color:#f06d22; color:white; margin-top: 20px;"}
              #flash_notice 
                %h4{style: "margin-bottom:0;font-size:18px;"} You must complete your profile before you can proceed.

          .col-sm-6{style: "padding:0", class: :"#{params[:type].present? ? 'col-md-6' : 'col-md-12'}"}
            = form_for @user, url: update_profile_dashboard_users_path, html:{class: :"form-virtical parsley-form edit-form", :"data-parsley-validate"=>''} do |f|
              .card.card--padded{data: {:"match-height"=>"card"}}
                .collapse.in.card__collapse
                  .card__content{data: {:"match-height"=>"card__content"}}
                    - if @user.errors.any?
                      %ul{style: "list-style:none;color:red;padding-left:0"}
                        - @user.errors.full_messages.each do |msg|
                          %li= msg
                    .row
                      .col-md-4.col-sm-12.col-xs-12
                        .form-group
                          = f.label :salutation, "Salutation"
                          = f.select :salutation, options_for_select(["Mr.", "Miss", "Mrs.", "Ms.", "Dr.", "A/Prof", "Prof."], @user.salutation), {}, {class: :"form-control"}
                      .clearfix
                      .col-md-12.col-sm-12
                        .form-group
                          = f.label :first_name, "First Name"
                          = f.text_field :first_name, placeholder: "John", class: :"form-control", required:true
                        .form-group
                          = f.label :last_name, "Last Name"
                          = f.text_field :last_name, placeholder: "Smith", class: :"form-control", required:true
                        %br/
                        .form-group{class: :"#{@user.errors.messages.to_s.include?('email') ? 'has-error' : ''}"}
                          = f.label :email, "Email Address"
                          = f.email_field :email, placeholder: "new.user@example.com", class: :"form-control", :"data-parsley-trigger"=>"change", required: true, disabled: true
                          = hidden_field_tag :user_id, @user.id.to_s

                        - if current_user == @user
                          .form-group
                            = f.label :password, "Password"
                            = f.password_field :password, class: :"form-control", placeholder: "Minimum 8 chars, letters and numbers", required:true, :"data-parsley-minlength"=>"8"
                          .form-group
                            = f.label :password_confirmation, "Confirmation Password"
                            = f.password_field :password_confirmation, class: :"form-control", placeholder: "Minimum 8 chars, letters and numbers", required:true, :"data-parsley-minlength"=>"8", :"data-parsley-equalto"=>"#user_password"

                        %br/
                        .form-group
                          = f.label :organization, "Organization / Company"
                          = f.text_field :organization, placeholder: "Organization", class: :"form-control", required:true
                        .form-group
                          = f.label :position, "Position (optional)"
                          = f.text_field :position, placeholder: "Position", class: :"form-control"
                        .form-group
                          = f.label :country, "Country"
                          = f.country_select(:country, {selected: @country_code}, {class: :"form-control"})

                        .form-group
                          = f.label :phone, "Telephone (optional)"
                          = f.text_field :phone, placeholder:"+1-9172678786", class: :"form-control"

                        = f.submit "Save Changes", class: :"btn btn-primary update-user"
          - if params[:type].present?
            .col-md-6.col-sm-6      
              %h2= "Welcome to #{Dgrants::Application::CONSTS[:app_name]}!"
              %p{style: "font-size:16px;"} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet turpis lacinia arcu rutrum mollis. Nulla molestie leo ligula. Pellentesque tristique nunc eu felis pellentesque, imperdiet vulputate quam convallis. Vivamus sed orci erat. Duis mollis massa vel sem elementum laoreet. Sed bibendum accumsan felis, eget sagittis dolor blandit ut. Aliquam erat volutpat. Morbi condimentum arcu id massa vestibulum, at congue ligula scelerisque. Mauris sit amet ipsum pulvinar, suscipit urna sed, molestie lectus. Donec rutrum elit sem. Fusce tristique vel tortor sit amet porttitor. In varius vestibulum lectus id vulputate. Donec dignissim tortor metus, nec posuere sem suscipit eget. Pellentesque eleifend enim vitae auctor efficitur. Donec ipsum nunc, feugiat vitae vestibulum sed, ultricies ut urna. Donec id pulvinar lorem.

              %p{style: "font-size:16px;"} Curabitur posuere lacinia erat, a pharetra ligula lobortis id. Phasellus consectetur odio at euismod feugiat. Nam ullamcorper condimentum arcu non interdum. Duis sodales, nisl sit amet venenatis rhoncus, nibh nibh posuere dui, non gravida eros tellus eget felis. Fusce rutrum ante vitae ligula suscipit euismod et ut ligula. Donec nulla ipsum, dapibus eu lorem ac, tincidunt euismod sem. Mauris consectetur dolor ut ligula euismod volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed condimentum, risus ut blandit tristique, purus risus semper enim, vitae hendrerit mi erat at enim. In mattis non lectus in euismod. Maecenas iaculis nibh purus, et iaculis mauris condimentum non. Donec accumsan ultrices sapien a hendrerit.</p>


:javascript
  $(".parsley-form").parsley("validate")