.modal-dialog
  .modal-content
    = form_for(@approver, url: dashboard_vpd_approvers_path, remote: true, html:{class: :"form-horizontal parsley-form"}) do |f|
      .modal-header
        %button.close{type: :"button", aria:{hidden: true}, data:{dismiss: :modal}} ×
        %h4.modal-title#data_title Add APPROVER

      .modal-body
        .form-group
          = f.label :email, "Approver Email :", class: :"col-sm-4 control-label"
          .col-sm-6
            = email_field_tag :email, nil, placeholder: "e.g. jsmith@test.com", required: true, :"data-parsley-trigger"=>"change", class: :"form-control input-sm"

        = hidden_field_tag :vpd_approver_type, @approver.type, name: "vpd_approver[type]"

      .modal-footer
        = button_tag(type: :submit, class: :"btn btn-primary") do
          Save
          %i.fa.fa-angle-double-right
        %button.btn.btn-default{type: :button, data:{dismiss: :modal}} Cancel