%p= "#{@user.manager.name}(#{@user.manager.email}) has set you up in #{Dgrants::Application::CONSTS[:app_name]} as a Super User.".html_safe
%p= "#{Dgrants::Application::CONSTS[:app_name]} is a cloud based prescreen tool that can accelerate feasibility and improve site selection for multi center clinical trials."
%p= "To start managing your virtual private database, please click the link below to set up your #{Dgrants::Application::CONSTS[:app_name]} account:"
%p= link_to confirmation_url(@resource, confirmation_token: @token), confirmation_url(@resource, confirmation_token: @token)
%p Please don't hesitate to contact us for any help